
    .class-title{
	font-family: 'ZawgyiOne' !important;
        margin-top: 30px;
        text-align: center;
        font-size: 1.2rem;
        color: rgba(0,0,0,0.7);
    }
    .class-info-text{
	font-family: 'ZawgyiOne' !important;
        color: rgba(0,0,0,0.8) !important;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
 
